anyio==3.6.2
APScheduler==3.10.4
asgiref==3.4.1
async-timeout==4.0.2
backcall==0.2.0
backports.zoneinfo==0.2.1
click==8.0.4
contextlib2==21.6.0
contextvars==2.4
dataclasses==0.8
decorator==5.1.1
fastapi==0.83.0
h11==0.13.0
hiredis==2.0.0
idna==3.4
immutables==0.19
importlib-metadata==4.8.3
importlib-resources==5.4.0
ipython==7.16.3
ipython-genutils==0.2.0
jedi==0.17.2
packaging==21.3
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.36
ptyprocess==0.7.0
pydantic==1.9.2
Pygments==2.14.0
PyMySQL==1.0.2
pyparsing==3.1.1
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
redis==4.3.6
six==1.16.0
sniffio==1.2.0
starlette==0.19.1
traitlets==4.3.3
typing-extensions==4.1.1
tzdata==2023.3
tzlocal==4.2
uvicorn==0.16.0
wcwidth==0.2.6
zipp==3.6.0
